@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family:'Raleway', sans-serif;
    color : #222;
    line-height : 1.5em;
    font-weight:300;
}
.container {
    border : 1px solid white;
    width : 1920px;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    justify-content:center;
}
header {
    background-color : white;
    height : 100px;
    /* position: fixed; */
    align-items:center;
    justify-content:center;
}

header article {
    background-color : white;
    width : 140px;
    text-align:center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.category{
   display: inline-block;
}
.mypage{
    display: inline-block;
}
.classopen{
    display: inline-block;
}
.logo{
    display: inline-block;
    height: 100px;
    width : 300px;
    margin-top: 0px;
}
.search{
    display: inline-block;
    background-color: lightgrey;
    text-align:left;
    width:200px;
    border-radius:60px;
    height: 40px;
}
.search>input {
    display: inline-block;
    background-color: lightgrey;
    text-align:center;
    width:200px;
    border-radius:60px;
    border-width: 0px;
    height: 40px;
}
input:focus {outline:none;}
.login{
    display: inline-block;
}
.join{
    display: inline-block;
}
.mypage{
    display: inline-block;
}
.logout{
    display: inline-block;
}

.thebiggestbox {
    /* padding-top: 50px; */
}
.pic {
    width: 1040px;
    height :350px;
    background-image: url("./images/main.jpg");
    display:inline-block;
}
.text {
    width:250px;
    height :350px;
    background-color:white;
    display:inline-block;
}
.classname1 {
    display:inline-block;
    width: 1080px;
    text-align:left;
}
.classname1>article{
    width:330px;
    height:350px;
    background-color:lightgrey;
    display:inline-block;
    margin:80px 15px 15px 15px;
    text-align:left;
}

footer {
    text-align:left;
}
.left {
    background-color:lightgrey;
    border-top-color:lightgrey;
    border-top:150px;
    border-bottom-color:lightgrey;
    border-bottom:50px;
    height: 160px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #787878;
}
a {
    color: #222;
    text-decoration: none;
}
.left a{
    display: block;
    font-size: 20px;
    margin: 15px 0;
   font-weight: bold;
}
.left:hover a {
    opacity:0.3;
    color: #787878;
}
.left a:hover {
    opacity:1;
    color: #787878;
}
div.bg{
    display: none;
    position: fixed;
    z-index: 9999;
    border: 1px solid;
    left: 0px;
    top: 50px;
    width: 140px;
    height: 610px;
    margin: 10px;
    overflow: auto;
    /* 레이어 색깔 */
    background-color: rgb(231, 231, 231, 0.5);
    border-width: 0px;
}
div.bg>div.modal{
    margin-top: 15px;
}
img {
    width : 330px;
    height : 240px;
}
input.seemore{
    margin-left: 415px;
    border: 0px; 
    background-color: #A5E3E6; 
    color: white;
    height:50px; 
    width:250px;
    font-size: 18px;
    font-weight: bold;
}