<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>C4U</display-name>
  <welcome-file-list>
    <welcome-file>maindraft1.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LessonListServlet</display-name>
    <servlet-name>LessonListServlet</servlet-name>
    <servlet-class>com.my.control.LessonListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonListServlet</servlet-name>
    <url-pattern>/lessonlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.my.control.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/categorylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutCartServlet</display-name>
    <servlet-name>PutCartServlet</servlet-name>
    <servlet-class>com.my.control.PutCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutCartServlet</servlet-name>
    <url-pattern>/putcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartServlet</display-name>
    <servlet-name>RemoveCartServlet</servlet-name>
    <servlet-class>com.my.control.RemoveCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartServlet</servlet-name>
    <url-pattern>/removecart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterLessonServlet</display-name>
    <servlet-name>RegisterLessonServlet</servlet-name>
    <servlet-class>com.my.control.RegisterLessonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterLessonServlet</servlet-name>
    <url-pattern>/registerlesson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.my.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPwdServlet</display-name>
    <servlet-name>FindPwdServlet</servlet-name>
    <servlet-class>com.my.control.FindPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPwdServlet</servlet-name>
    <url-pattern>/findpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageLessonListServlet</display-name>
    <servlet-name>MyPageLessonListServlet</servlet-name>
    <servlet-class>com.my.control.MyPageLessonListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageLessonListServlet</servlet-name>
    <url-pattern>/mypagelessonlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStatus</display-name>
    <servlet-name>LoginStatus</servlet-name>
    <servlet-class>com.my.control.LoginStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStatus</servlet-name>
    <url-pattern>/loginstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteLessonReviewServlet</display-name>
    <servlet-name>WriteLessonReviewServlet</servlet-name>
    <servlet-class>com.my.control.WriteLessonReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteLessonReviewServlet</servlet-name>
    <url-pattern>/writelessonreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LessonDetailServlet</display-name>
    <servlet-name>LessonDetailServlet</servlet-name>
    <servlet-class>com.my.control.LessonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonDetailServlet</servlet-name>
    <url-pattern>/lessondetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageMyInfoServlet</display-name>
    <servlet-name>MyPageMyInfoServlet</servlet-name>
    <servlet-class>com.my.control.MyPageMyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageMyInfoServlet</servlet-name>
    <url-pattern>/mypagemyinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.my.control.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayInfoServlet</display-name>
    <servlet-name>PayInfoServlet</servlet-name>
    <servlet-class>com.my.control.PayInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayInfoServlet</servlet-name>
    <url-pattern>/payinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.my.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeDetailServlet</display-name>
    <servlet-name>NoticeDetailServlet</servlet-name>
    <servlet-class>com.my.control.NoticeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeDetailServlet</servlet-name>
    <url-pattern>/noticedetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeListServlet</display-name>
    <servlet-name>NoticeListServlet</servlet-name>
    <servlet-class>com.my.control.NoticeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeListServlet</servlet-name>
    <url-pattern>/noticelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailDupCheckServlet</display-name>
    <servlet-name>EmailDupCheckServlet</servlet-name>
    <servlet-class>com.my.control.EmailDupCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailDupCheckServlet</servlet-name>
    <url-pattern>/emaildupcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameDupCheckServlet</display-name>
    <servlet-name>NameDupCheckServlet</servlet-name>
    <servlet-class>com.my.control.NameDupCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameDupCheckServlet</servlet-name>
    <url-pattern>/namedupcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.my.control.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LessonReviewListServlet</display-name>
    <servlet-name>LessonReviewListServlet</servlet-name>
    <servlet-class>com.my.control.LessonReviewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonReviewListServlet</servlet-name>
    <url-pattern>/lessonreviewlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageHeartServlet</display-name>
    <servlet-name>MyPageHeartServlet</servlet-name>
    <servlet-class>com.my.control.MyPageHeartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageHeartServlet</servlet-name>
    <url-pattern>/mypageheart</url-pattern>
  </servlet-mapping>
</web-app>